:host{
  height: 400px;
  display: block;
  .container-fluid
  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .chart-wrapper{
      flex-grow: 1;
  }
}
