<nb-card class="shadow">
    <nb-card-header>
      <h6>Acquired Users</h6>
    </nb-card-header>
  <nb-card-body>
    <div class="row chart-wrapper">
    <div class="col-12 p-0">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
</nb-card-body>
<nb-card-footer>
  statstics table
</nb-card-footer>
</nb-card>
