<nb-card class="shadow" size="large">
    <nb-card-header>
      <div class="header">
        <h6>المستخدمون الجدد</h6>
        <nb-select  (selectedChange)="changeDuration($event)" [placeholder]="'Range'" [size]="'small'" [selected]="'Daily'">
          <nb-option value="Daily">يومي</nb-option>
          <nb-option value="Weekly"  [disabled]="data.length<14">أسبوعي</nb-option>
          <nb-option value="Monthly" [disabled]="data.length<61">شهري</nb-option>
        </nb-select>
      </div>
    </nb-card-header>
  <nb-card-body>
    <div class="chart-wrapper">
    <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        [explodeSlices]="explodeSlices"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </div>
</nb-card-body>
<nb-card-footer>
  <div class="row stat-row " *ngFor="let stat of single; let i = index">
    <div class="title col-4">
      <i class="fas fa-circle" [ngStyle]="{'color': colorScheme.domain[i]}"></i>
      <span>{{stat.name}}</span>
    </div>
    <div class="value col-4">{{stat.value}}</div>
    <div class="evaluation col-4">
      <nb-icon icon="arrow-upward-outline" *ngIf="stat.evaluation >= 0" status="success"></nb-icon>
      <nb-icon icon="arrow-downward-outline" *ngIf="stat.evaluation < 0" status="danger"></nb-icon>
      <span>{{abs(stat.evaluation)}}% </span>
      </div>
  </div>
  <div class="divider"></div>
</nb-card-footer>
</nb-card>
