<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="containing-box">
          <div class="heading">
            <h1>أضف خبر</h1>
            <p class="sub-title">{{ curDate }}</p>
          </div>
          <p-editor [(ngModel)]="text" [style]="{'height':'320px'}" class="mb-5"></p-editor>
          <button
              nbButton
              status="primary"
              size="large"
              [disabled]="false"
              [class.btn-pulse]="false"
              (click)="addNews()"
            >
              اضف
            </button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
