<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="containing-box">
          <div class="heading">
            <h1>أسم الموظف</h1>
            <p class="sub-title">المركز</p>
          </div>
          <input type="file" id="myfile" name="myfile" nbInput placeholder="ملف الأكسل">
          <button
              nbButton
              fullWidth
              status="primary"
              size="large"
              [disabled]="false"
              [class.btn-pulse]="false"
            >
              رفع
            </button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
