nb-card {
  margin: 0;
  height: calc(100vh - 2 * 2.5rem);
}
:host:dir(rtl)
{
  .label{
    font-size: 1.05rem;
  }
}
nb-card-body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.containing-box {
  display: flex;
  width: 100%;
  max-width: 35rem;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
}
.heading{
  margin-bottom: 5rem;
}
input,textarea{
  margin-bottom: 1rem;
}
button{
  margin-top:2rem;
}
