<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="containing-box">
          <h1 id="title" class="title">Reset your password</h1>
          <p class="sub-title">Get your password back</p>

          <form (ngSubmit)="reset()" #form="ngForm" aria-labelledby="title">
            <div class="form-control-group">
              <label class="label" for="input-currentPd">Current password:</label>

              <input
                nbInput
                fullWidth
                [(ngModel)]="currentPd"
                #curretPassword="ngModel"
                name="password"
                type="password"
                id="input-password"
                placeholder="Current Password"
                fieldSize="large"
                [status]="
                  curretPassword.dirty
                    ? curretPassword.invalid
                      ? 'danger'
                      : 'success'
                    : 'basic'
                "
                [required]="true"
                [minlength]="6"
                [maxlength]="32"
                [attr.aria-invalid]="
                  curretPassword.invalid && curretPassword.touched ? true : null
                "
              />
            <p class="error-message" *ngIf="curretPassword.invalid && curretPassword.touched ">
              {{curretPassword.value}} {{curretPassword.invalid}}
            </p>
            </div>

            <div class="form-control-group">
              <label class="label" for="input-newPd">New password:</label>

              <input
                nbInput
                fullWidth
                [(ngModel)]="newPd"
                #newPassword="ngModel"
                name="newPassword"
                type="password"
                id="input-password"
                placeholder="New Password"
                fieldSize="large"
                [status]="
                  newPassword.dirty
                    ? newPassword.invalid
                      ? 'danger'
                      : 'success'
                    : 'basic'
                "
                [required]="true"
                [minlength]="6"
                [maxlength]="32"
                [attr.aria-invalid]="
                  newPassword.invalid && newPassword.touched ? true : null
                "
              />
              <p class="error-message" *ngIf="newPassword.invalid && newPassword.touched">
                {{newPassword.value}} {{newPassword.invalid}}
              </p>
            </div>



            <button
              nbButton
              fullWidth
              status="primary"
              size="large"
              [disabled]="!form.valid"
              [class.btn-pulse]="!form.valid"
            >
              Reset
            </button>
          </form>



        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
