nb-card {
  margin: 0;
  height: calc(100vh - 2 * 2.5rem);
}

nb-card-body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.containing-box {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;
  padding: 10px;
}
.heading{
  margin-bottom: 5rem;
}

.save-btn{
  margin-top:2rem;
  width: 170px !important;
align-self: center;
}
.wrapper{
  max-height: 400px;
}
table input{
  width: 60%;
}
.selection-input{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  input{
    max-width: 100% !important;
  }
}

.sticky-table-header{
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
