<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="containing-box">
          <h1 id="title" class="title">تسجيل</h1>
          <p class="sub-title">اصنع حساب جديد</p>

          <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">
            <div class="form-control-group">
              <label class="label" for="input-email">البريد الألكتروني:</label>

              <input
                nbInput
                fullWidth
                [(ngModel)]="user.email"
                #email="ngModel"
                name="email"
                id="input-email"
                pattern=".+@.+\..+"
                placeholder="البريد الألكتروني"
                fieldSize="large"
                autofocus
                [status]="
                  email.dirty ? (email.invalid ? 'danger' : 'success') : 'basic'
                "
                [required]="true"
                [attr.aria-invalid]="
                  email.invalid && email.touched ? true : null
                "
              />
              <p
                class="error-message"
                *ngIf="email.invalid && email.touched"
              >
                البريد غير صحيح
              </p>
            </div>

            <div class="form-control-group">
              <span class="label-with-link">
                <label class="label" for="input-password">كلمة المرور: (قراءة فقط)</label>
              </span>
              <input
                nbInput
                fullWidth
                [(ngModel)]="user.password"
                #password="ngModel"
                name="password"
                type="text"
                id="input-password"
                placeholder="كلمة المرور"
                fieldSize="large"
                readonly="true"
                [status]="
                  password.dirty
                    ? password.invalid
                      ? 'danger'
                      : 'success'
                    : 'basic'
                "
                [required]="true"
                [minlength]="6"
              />
            </div>
            <div class="selection-input">
              <label class="label">نوع الحساب:</label>
              <nb-select placeholder="النوع" [(selected)]="user.type" required ngModel  #type="ngModel" name="type">
                <nb-option value="admin">مشرف</nb-option>
                <nb-option value="investor">مستثمر</nb-option>
                <nb-option value="employee">موظف</nb-option>
                <nb-option value="dataEntry">مدخل بيانات</nb-option>
              </nb-select>
            </div>
            <div class="selection-input" *ngIf="user.type=='employee'">
              <label class="label">الوظيفة:</label>
              <input type="text" nbInput fullWidth fieldSize="small" placeholder="الوظيفة">
            </div>
            <button
              nbButton
              fullWidth
              status="primary"
              size="large"
              [disabled]="!form.valid"
              [class.btn-pulse]="form.valid"
            >
              تسجيل
            </button>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
