<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="containing-box">
          <div class="heading">
            <h1>{{ disk.userName }}</h1>
            <p class="sub-title">{{ disk.job }}</p>
          </div>
          <form (submit)="add()" #form="ngForm">
            <div class="mb-3">
              <label for="" class="label">مدة العمل اليوم</label>
              <ngx-timepicker-field
              [format]="24"
              [defaultTime]="'00:00'"
              (timeChanged)="setDuration($event)"
              ></ngx-timepicker-field>
          </div>

            <textarea
              #theActivity="ngModel"
              ngModel
              [(ngModel)]="activity"
              required
              name="theActivity"
              nbInput
              fullWidth
              placeholder="أوصف ماذا فعلت في هذة المدة"
            ></textarea>
            <button
              nbButton
              type="submit"
              fullWidth
              status="primary"
              size="large"
              [disabled]="!form.valid"
              [class.btn-pulse]="form.valid"
            >
              أضف
            </button>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
