<nb-card class="shadow rounded">
  <nb-card-body>
    <div class="wrapper">
     <div class="top">
       <div class="data">
        <div class="label">label</div>
        <div class="value">valuye</div>
       </div>
       <i class="fab fa-facebook fa-3x" style="color:rgb(24, 119, 242)"></i>
     </div>
     <span class="evaluation">
       <span class="result">
        <i class="fas fa-arrow-up"></i>
        3.45%
       </span>

      <span>since B.C.</span>
      </span>
    </div>
  </nb-card-body>
</nb-card>
