@import '../dashboard-variables.scss';
:host:dir(rtl)
{
  .label{
    font-size: 1.05rem;
  }
}
nb-card{
  height: 130px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .data{
      display: flex;
      flex-direction: column;
    }
  }
  .evaluation{
    .result{
      margin-inline-end: 10px;
    }
  }

}
.good{
  color: #18c809;
}
.bad{
  color: #c80929;
}
.info{
  display: flex;
  align-items: center;
  i,.name{
    margin-inline-end: 5px;
  }
  @media(max-width:$mobileBP)
  {
    font-size: smaller;
  }
}
