<nb-card class="shadow"size="tiny">
  <nb-card-header>
    Finances
  </nb-card-header>
  <nb-card-body>
    <div class="wrapper ">
    <div class="meter">
      <div class="data">
        <span>Income</span>
        <span>354$</span>
      </div>
      <nb-progress-bar [value]="50"></nb-progress-bar>
    </div>

    <div class="meter">
      <div class="data">
        <span>Expenses</span>
        <span>354$</span>
      </div>
      <nb-progress-bar [value]="30"></nb-progress-bar>
    </div>
  </div>
  </nb-card-body>
</nb-card>
