<nb-card class="shadow">
  <nb-card-body>
    <div class="container-fluid ">
      <div class="row border-bottom">
        <div class="col-6 p-0">
          <div class="box border-right ">
            <i class="far fa-eye"></i>
            <div class="text">
              <strong>5841</strong>
              <span>Students</span>
            </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="box">
            <i class="far fa-eye"></i>
            <div class="text">
              <strong>421</strong>
              <span>Teachers</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-6 p-0">
          <div class="box border-right ">
            <i class="far fa-eye"></i>
            <div class="text">
              <strong>320</strong>
              <span>Camps</span>
            </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="box">
            <i class="far fa-eye"></i>
            <div class="text">
              <strong>10000</strong>
              <span>Visitors</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>
