@import '../dashboard-variables.scss';
.back-wrapper{
  @media(max-width: $mobileBP)
  {
    padding: 0;
    .info,.statstic p{
      font-size: small !important;
    }
  }
}
.container-fluid{
  display: flex;
  flex-direction: column;
  height: 100%;
  .row{
   flex-grow: 1;
  }
}
.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  flex-grow: 1;
  // i{
  //   font-size: x-large;
  // }
  .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.statstic{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .info{
    display: flex;
    justify-content: space-between;
    padding-inline-end: 10px;

  }
}
