<nb-flip-card [flipped]="flipped" [showToggleButton]='false' >
  <nb-card-front  (click)="flipCard()" class="clickable">
    <nb-card class="shadow" size="tiny">
      <nb-card-body>
        <div class="container-fluid ">
          <div class="row border-bottom">
            <div class="col-6 d-flex justify-content-center p-0 border-right">
              <div class="box">
                <i class="fas fa-user-graduate fa-2x" style="color: #002e2c;"></i>
                <div class="text">
                  <strong>{{registeredStudentsNumber}}</strong>
                  <span class="label">طالب</span>
                </div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-center p-0">
              <div class="box">
                <i class="fas fa-chalkboard-teacher fa-2x" style="color: #664E4C;"></i>
                <div class="text">
                  <strong>{{acceptedTeachersNumber}}</strong>
                  <span class="label">مدرس</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-6 d-flex justify-content-center p-0 border-right">
              <div class="box  ">
                <i class="fas fa-school fa-2x" style="color: #ff9900;"></i>
                <div class="text">
                  <strong>{{campsPostedNumber}}</strong>
                  <span class="label">معسكر</span>
                </div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-center p-0">
              <div class="box">
                <i class="far fa-eye fa-2x" style="color: #454372;"></i>
                <div class="text">
                  <strong>{{websiteVisitorsNumber}}</strong>
                  <span class="label">مشاهدة</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </nb-card-front>


  <nb-card-back>
    <nb-card class="shadow" size="tiny">
      <nb-card-body>
        <div class="container-fluid back-wrapper">
          <div class="row border-bottom clickable" (click)="flipCard()">
            <div class="col-6 d-flex  px-3 border-right">
              <div class="statstic">
                <h3 class="label">طالب ({{viewedDuration()}})</h3>
                <p class="info">مسجل <span>{{viewedRegisteredStudentsNumber}}</span></p>
                <p class="info">مدفوع <span>{{viewedRegisteredPaidStudentsNumber}}</span></p>
              </div>
            </div>

            <div class="col-6 d-flex  px-3">
              <div class="statstic">
                <h3 class="label">معسكر ({{viewedDuration()}})</h3>
                <p class="info">تحت المراجعة <span>{{viewedCampsUnderReviewNumber}}</span></p>
                <p class="info">تم نشرة <span>{{viewedCampsPostedNumber}}</span></p>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-6 d-flex  px-3 pt-1 border-right clickable" (click)="flipCard()">
              <div class="statstic">
                <h3 class="label">مدرس ({{viewedDuration()}})</h3>
                <p class="info">مقبول  <span>{{viewedAcceptedTeachersNumber}}</span></p>
                <p class="info">مرفوض <span>{{viewedRejectedTeachersNumber}}</span></p>
              </div>
            </div>
            <div class="col-6 d-flex  px-3 pt-1">
              <div class="statstic" >
                <p>المدة الزمنية</p>
                <nb-select  (selectedChange)="changeDuration($event)" [placeholder]="'Range'" [size]="'small'" [selected]="'Daily'">
                  <nb-option value="Daily">يومي</nb-option>
                  <nb-option value="Weekly" [disabled]="data.length<14">أسبوعي</nb-option>
                  <nb-option value="Monthly" [disabled]="data.length<61">شهري</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>

