<div class="row">
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-simple-card></ngx-simple-card>
  </div>
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-simple-card></ngx-simple-card>
  </div>
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-expenses></ngx-expenses>
  </div>
</div>

<div class="row ">
  <div class=" col-xxl-8 col-lg-5 col-md-6">
    <ngx-line-chart></ngx-line-chart>
  </div>
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-users-chart></ngx-users-chart>
  </div>
</div>

<div class="row ">
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-social-cards></ngx-social-cards>
  </div>
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-social-cards></ngx-social-cards>
  </div>
  <div class=" col-xxl-4 col-lg-5 col-md-6">
    <ngx-social-cards></ngx-social-cards>
  </div>
</div>

<div class="row ">
  <div class=" col-xxl-12 col-lg-12 col-md-12">
    <ngx-employees></ngx-employees>
  </div>
</div>
