<nb-card class="shadow" size="medium">
  <nb-card-header class="tablet">
    <div class="d-flex justify-content-between">
      <span>الموظفين</span>
      <nb-select  (selectedChange)="changeDuration($event)" [placeholder]="'Range'" [size]="'small'" [selected]="'Daily'">
        <nb-option value="Daily">يومي</nb-option>
        <nb-option value="Weekly">أسبوعي</nb-option>
        <nb-option value="Monthly">شهري</nb-option>
      </nb-select>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div  class="desktop">
      <ng-container *ngTemplateOutlet="table"></ng-container>
    </div>
    <div class="tablet">
      <ng-container *ngTemplateOutlet="cards" ></ng-container>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #cards>
  <nb-card *ngFor="let emp of employees">
    <nb-card-body >
      <div class="employee-card">
        <nb-user [name]="emp.username" [title]="emp.job"></nb-user>
        <div class="text">
          <div>{{emp.workRate}} ساعة/{{viewedDuration}}</div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">الموظف</th>
        <th scope="col" class="text-center">المعدل اليومي</th>
        <th scope="col" class="text-center">المعدل الأسبوعي</th>
        <th scope="col" class="text-center">المعدل الشهري</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees" (click)="openHistory(emp)" class="clickable">
        <td class="align-middle">
      <nb-user [name]="emp.username" [title]="emp.job"></nb-user>
        </td>
        <td class="align-middle text-center">{{emp.dailyRate}} ساعة</td>
        <td class="align-middle text-center">{{emp.weeklyRate}} ساعة</td>
        <td class="align-middle text-center">{{emp.monthlyRate}} ساعة</td>
      </tr>

    </tbody>
  </table>
</ng-template>
