<nb-card class="shadow" size="medium">
  <nb-card-header class="tablet">
    <div class="d-flex justify-content-between">
      <span>Employees</span>
      <nb-select  (selectedChange)="changeDuration($event)" [placeholder]="'Range'" [size]="'small'" [selected]="'Daily'">
        <nb-option value="Daily">Daily</nb-option>
        <nb-option value="Weekly">Weekly</nb-option>
        <nb-option value="Monthly">Monthly</nb-option>
      </nb-select>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div  class="desktop">
      <ng-container *ngTemplateOutlet="table"></ng-container>
    </div>
    <div class="tablet">
      <ng-container *ngTemplateOutlet="cards" ></ng-container>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #cards>
  <nb-card *ngFor="let emp of employees">
    <nb-card-body >
      <div class="employee-card " >
        <img [src]="emp.img" alt="" class="shadow">
        <div class="text">
          <strong>{{emp.name}}</strong>
          <span class="label">{{emp.title}}</span>
          <div>{{emp.workRate}} hr/{{viewedDuration}}</div>
          <div>{{emp.evaluation}} </div>
        </div>

      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Employee</th>
        <th scope="col" class="text-center">Daily Rate</th>
        <th scope="col" class="text-center">Weekly Rate</th>
        <th scope="col" class="text-center">Monthly Rate</th>
        <th scope="col" class="text-center">Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees" (click)="openHistory()" class="clickable">
        <td class="align-middle">
          <div class="employee">
            <img [src]="emp.img" alt="" class="rounded-circle">
            <div class="text">
              <strong>{{emp.name}}</strong>
              <span class="label">{{emp.title}}</span>
            </div>
          </div>
        </td>
        <td class="align-middle text-center">{{emp.workRate}} hr</td>
        <td class="align-middle text-center">{{emp.workRate}} hr</td>
        <td class="align-middle text-center">{{emp.workRate}} hr</td>
        <td class="align-middle text-center">{{emp.evaluation}}</td>
      </tr>

    </tbody>
  </table>
</ng-template>
