<nb-card class="shadow" size="large">
  <nb-card-header>
    <div class="header">
      <h6>مؤشرات الموقع</h6>
      <nb-select  (selectedChange)="changeDuration($event)" [placeholder]="'Range'" [size]="'small'" [selected]="'Daily'">
        <nb-option value="Daily">يومي</nb-option>
        <nb-option value="Monthly" [disabled]="dates.length<60">شهري</nb-option>
      </nb-select>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ngx-chartjs
      [redraw]="true"
      [data]="data"
      type="line"
      [options]="options"
      ></ngx-chartjs>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">
      <div class="col-md-4 col-sm-12 p-0 ">
        <div class="stat">
          <div class="value">{{views}}</div>
          <div class="label">
            <i [ngClass]="{'fas fa-arrow-up': viewsEval>0,'fas fa-arrow-down': viewsEval<=0}"></i> {{viewsEval}}%
            أجمالي المشاهدات
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 p-0 adaptive-border">
        <div class="stat">
          <div class="value">{{sessionDurations}}</div>
          <div class="label">
            <i [ngClass]="{'fas fa-arrow-up': viewsEval>0,'fas fa-arrow-down': sessionDurationsEval<=0}"></i>  {{sessionDurationsEval}}%
            مدة الزيارة
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 p-0 adaptive-border">
        <div class="stat">
          <div class="value">{{sessions}}</div>
          <div class="label">
            <i [ngClass]="{'fas fa-arrow-up': viewsEval>0,'fas fa-arrow-down': sessionsEval<=0}"></i> {{sessionsEval}}%
            أجمالي الزيارات
          </div>
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
