<nb-card class="shadow" size="large">
  <nb-card-header>
    <div class="header">
      <h6>Website Analytics</h6>
      <nb-select  (selectedChange)="changeDuration($event)" [placeholder]="'Range'" [size]="'small'" [selected]="'Daily'">
        <nb-option value="Daily">Daily</nb-option>
        <nb-option value="Weekly">Weekly</nb-option>
        <nb-option value="Monthly">Monthly</nb-option>
      </nb-select>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ngx-chartjs
      [redraw]="true"
      [data]="data"
      type="line"
      [options]="options"
      ></ngx-chartjs>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">
      <div class="col-md-4 col-sm-12 p-0 adaptive-border">
        <div class="stat">
          <div class="value">45.87M</div>
          <div class="label">
            Total views <i class="fas fa-arrow-up"></i> 2.43%
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 p-0 adaptive-border">
        <div class="stat">
          <div class="value">15:48</div>
          <div class="label">
            Session duration <i class="fas fa-arrow-down"></i> 56.43%
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 p-0">
        <div class="stat">
          <div class="value">452</div>
          <div class="label">
            Total Sessions <i class="fas fa-arrow-up"></i> 62.43%
          </div>
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
